{% extends 'base.html' %}
{% block content %}
	<h2>유저 리스트</h2>
    <h4>{% if msg %} {{ msg }} {% endif %}</h4>
    <table class="table table-striped nowrap text-center font-size-14">
      <thead class = "table-dark">
        <th>ID</th>
        <th>유저이름</th>
        <th>이메일</th>
        <th>가입일</th>
        <th>페이플랜</th>
        <th>가격</th>
      </thead>
      {% for u in users %}
      <tr class = {% cycle "table-ligth" "table-primary" %}>
        <td>{{ u.id }}</td>
        <td>{{ u.username }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.date_joined }}</td>
        <td>{{ u.pay_plan.name }}</td>
        <td>{{ u.pay_plan.price }}</td>
      </tr>
      {% endfor %} {% if users|length == 0 %} 데이터가 없습니다. {% endif %}
    </table>
    <nav aria-label = "...">
      <ul class ="pagination justify-content-center">
        {% if users.has_previous %}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="?p={{users.previous_page_number}}">이전으로</a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">이전으로</a>
        </li>
        {% endif %}
        <li class="page-item">
          <a class="page-link" href="#">{{users.number}}/{{users.paginator.num_pages}}</a>
        </li>
        {% if users.has_next %}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="?p={{users.next_page_number}}">다음으로</a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">다음으로</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <p>
      <a href="{% url 'index_1' %}"> 홈으로</a>
      <a href="{% url 'register' %}">회원가입</a>
    </p>
		{% include 'load.html' %}
{% endblock %}