{% extends 'base.html' %}
<!-- load -->
{% load static %}
<!-- title -->
{% block title%}URL 리스트{% endblock %}
<!-- main_breadscumb -->
{% block main_breadscumb%}대시보드{% endblock %}
<!-- sub_breadscumb_highlight -->
{% block sub_breadscumb_highlight %}URL List{% endblock%}
<!-- sub_breadscumb -->
{% block sub_breadscumb %}URL 리스트{% endblock %}

<!-- content -->
{% block content %}

<!--
<div class="row">
-->
<div class="row" id="vue_div">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header border-0">
        {% comment %}
        <div class="row align-items-center"></div>
        {% endcomment %}
        <a
          href="{% url 'url_create' %}"
          class="btn btn-primary btn-sm font-size-12 float-right"
          >추가</a
        >
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">별칭</th>
              <th scope="col">이동 URL</th>
              <th scope="col">단축 URL</th>
              <th scope="col">생성채널</th>
              <th scope="col">생성일</th>
              <th scope="col">액션</th>
            </tr>
          </thead>
          <tbody>
            <!--
            {% for l in list%}
            <tr>
            -->
              {% comment %}
              <th scope="row">Hun's Django</th>
              <td>huns-project.co.kr</td>
              <td>/k/950325</td>
              <td>웹사이트</td>
              <td>2023년 1월 6일</td>
              {% endcomment %}
              <!--
              <th scope="row">{{ l.nick_name }}</th>
              -->
            <tr v-for="l in urlLists">
              <th scope="row">[[ l.nick_name ]]</th>
              
              <!--
              <td>{{ l.target_url }}</td>
              -->
              <td>[[ l.target_url ]] </td>
              {% comment %}
              <td>{{ l.shortened_url }}</td>
              <td>{{ l.created_via }}</td>
              {% endcomment %}
              <td>
                <!--
                <a href="/{{ l.prefix }}/{{ l.shortened_url }}" target="_blank">
                  {{ request.get_host }}/{{ l.prefix }}/{{ l.shortened_url }}
                </a>
                -->
                <a :href="'/'+l.prefix+'/'+l.shortened_url" target="_blank">
                  [[ l.prefix | addressAssembler(l.shortened_url)]]
                </a>
              </td>
              <!--
              <td>{{ l.created_via }}</td>
              <td>{{ l.created_at }}</td>
              -->
              <td>[[ l.create_via ]]</td>
              <td>[[ l.created_at ]]</td>
              <td>
                <!-- Form이 GET과 POST만 지원하므로 POST로 DELETE를 처리해야한다! -->
                <!--
                <form action="/urls/delete/{{ l.id }}" method="POST">
                  {% csrf_token %}
                  <a
                    href="/urls/update/{{ l.id }}"
                    class="btn btn-sm btn-primary"
                  >
                -->
                  <button  class="btn btn-sm btn-primary">
                    수정
                  <!--
                  </a>
                  -->
                  <!--
                  <button
                    type="submit"
                    class="btn btn-sm btn-danger"
                    onclick="return confirm('정말 삭제 하시겠습니까?');"
                  >
                  -->
                  </button>
                  <button @click="deleteUrl(l.id)" class="btn btn-sm btn-danger">
                    삭제
                  </button>
                <!--
                </form>
                -->
              </td>
            </tr>
            <!--
            {% endfor %}
            -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Vue.js 적용 테스트-->
{% comment %} <div id="vue_div">
  <span style="margin-right:10px"> Times : [[ howManyTimes ]]</span>
  <a class="btn btn-sm btn-primary text-white" @click="howManyTimes+=1"> Hello </a>
  <a class="btn btn-sm btn-danger text-white" @click="howManyTimes-=1"> Bye </a>
  <a class="btn btn-sm btn-warning text-white" @click="howManyTimes=0"> I don't mind </a>
</div> {% endcomment %}
  <!--
  {% if messages %}
  -->
  <!-- 메세지 유무 확인 -->
  <!--
  {% for message in messages %}
  <div
    aria-live="polite"
    aria-atomic="true"
    style="position: relative; min-height: 200px"
  >
    <div
      class="toast"
      style="position: absolute; top: 0; right: 0"
      data-delay="5000"
    >
      <div class="toast-header">
        <strong class="mr-auto">알림</strong>
        <small>방금 전</small>
        <button
          type="button"
          class="ml-2 mb-1 close"
          data-dismiss="toast"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">{{message}}</div>
    </div>
  </div>
  {% endfor %}
  <script>
    $(".toast").toast("show");
  </script>
  {% endif %}
  -->

  <script>
    let vm = new Vue({
        delimiters: ['[[', ']]'],
        el: '#vue_div',
        data: {
          newUrlName: null,
          newUrlTarget: null,
          urlLists: []
        },
        mounted() {
          this.getList();
        },
        methods: {
          getList: function () {
            $("#vue_div").LoadingOverlay("show");
            axios.get(`/api/urls/`,
            ).then(function (response) {
                vm.urlLists = response.data
            }).catch(function (e) {
            }).finally(function () {
              $("#vue_div").LoadingOverlay("hide");
            });
          },
          deleteUrl: function (urlId) {
            const c = confirm('정말 삭제 하시겠습니까?');
            if (!c) return;
            axios.delete(`/api/urls/${urlId}`, {headers: {'X-CSRFToken': Cookies.get('csrftoken')}}
            ).then(function (response) {
            }).catch(function (e) {
            }).finally(function () {
              vm.getList();
            });
          },
          getCookie: function (name) {
            let cookieValue = null;
            if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
              }
            }
          }
        },
        filters: {
          addressAssembler: function(v, arg) {
            const url = new URL(document.URL);
            const host = url.host;
            return `${host}/${v}/${arg}`
          }
        }
    })
  </script>


  <!-- 스크립트 내 쿠키 얻는 함수(methods 내 deleteUrl 아래 위치) -->
  <!--
              getCookie: function (name) {
            let cookieValue = null;
            if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
              }
            }
          }
  -->


  <!-- Vue.js 적용 테스트를 위한 스크립트 ! 보간법에 의한 형태가 이중 중괄호 형태가 Jinja 템플릿과 겹쳐서 사용하지 못하므로 "[[]]" 형태로 변경하여 사용!-->
  <!-- 이전 버전 형태로 적용 불가!-->
  {% comment %} <script>
    let vue = new Vue({
      delimiters: ["[[", "]]"],
      el: '#vue_div',
      data: {
        howManyTimes : 0,
      }
    });
  </script> {% endcomment %}

  {% comment %} <script>
    let {createApp} = Vue

    createApp({
      delimiters : ["[[", "]]"],
      data() {
        return {
          howManyTimes : 0,
        }
      }
    }).mount("#vue_div")
  </script> {% endcomment %}

  <!-- 전체 블록 닫기 -->
  {% endblock %}
</div>

